[ON_BOARD_SENSORS]
temp_humidity_sensor: Yes
air_pressure_sensor: Yes
co2_sensor: Yes


[TEMP_HUMIDITY_SENSOR]
type: 22
gpio_no: 17


[AIR_PRESSURE_SENSOR]
I2C_address: 0x77
port_no:1


[CO2_SENSOR]
co2_alarm_1: 1000
co2_alarm_2: 2000


[LCD_DISPLAY]
I2C_address: 0x27
port_no: 1


[SQLITE_DB]
useDB: Yes


[XMPP]
from: c33@jabb3r.de
fromPassword: test123?
to: a13@jabb3r.org
keepAliveTime: 60


[API]
url: http://localhost:5000/getAllSensorData


