[LCD_DISPLAY]
I2C_address: 0x27
port_no: 1
display_clock: Yes

[LCD_CYCLE_TIME]
display_time: 3
no_of_cycles: 5

[ALARM_LEVELS]
co2 = 1000
temperature = 60
humidity = 95
airPressure = 1200

[API]
url: http://localhost:5000/getAllSensorData

#temp format: C for Celsius, F for Fahrenheit, default is C
#air pressure format: hPa or inchHg for inchHg, default is hPa
[FORMAT]
temperature = F
airpressure = inchHg
