[XMPP]
from = liv@jabb3r.org
from_password = test123?
to = a13@jabb3r.org


[EMAIL]
email_alarm_active = False
email_report_active = False
from = your_from_liv_email_address
from_password = your_from_liv_passwd
to = your_email_address
email_server = smtp.gmail.com:587

[API]
url_raw_sensor_data = http://localhost:5000/getAllRawSensorData
url_base = http://localhost:5000/

[temperature]
rule = more 10

[humidity]
rule = reset

[airpressure]
rule = reset

[co2]
rule = reset

