[XMPP]
from = your_from_liv_xmpp_address
from_password = your_from_liv_xmpp_passwd
to = your_to_xmpp_address
keep_alive_time = 60


#default email_server is gmail, however any SMTP server should work
#if you are using gmail, don't forget to turn off CAPTCHA and
#allow for less secure web apps connections in your "from_liv" account
[EMAIL]
email_alarm_active = False
from = your_from_liv_email_address
from_password = your_from_liv_passwd
to = your_email_address
email_server = smtp.gmail.com:587


[API]
url_raw_sensor_data = http://localhost:5000/getAllRawSensorData
url_base = http://localhost:5000/

#alarm rules section - don't modify - this part is written by livXMPP process
[temperature]
rule = reset

[humidity]
rule = reset

[airpressure]
rule = reset

[co2]
rule = reset

