[TWITTER]
liv_device_name = LiV 1
twitter_alarm_active  = True
twitter_report_active = True
twitter_report_time   = 2
token          = 28595681-sk4FFlQxfJKmIWyb8L7X30t3ttHHSDazN5wWqLIWx
token_key      = nXn4qyIJwWZsmvd5Mfyufnz1UQuyXxTHRLgbrpLVeu885
con_secret     = iFxQg6wgCBXzlq1lWZwB164l1
con_secret_key = w3wOy2uUSGHA2yTAC6TqjJ8xlIUVKcicOf2GuhBIEJnb6UjdjM
