[SONOFF]
sonoff_IP = 192.168.1.42
sonoff_loop_time = 20

sonoff_rule_off = cmd=event,T0 
sonoff_rule_on  = cmd=event,T1

#set sonoff_control to True if you want to controll sonoff, False otherwise
sonoff_control = True

#set sonoff_switch_on_higher to True if you want to start air conditioning 
#when temperature goes over threshold
#set sonoff_switch_on_higher to False if you want to start heather when
#temperature goes under threshold
sonoff_switch_on_higher = True

#only one sonoff is controlled, so only one action should be active
#when level goes up, apply sonoff_rule_on is upper_rule is True

action = CO2
#action = Temp 
#action = Hum
#action = Ap
level  = 1000